<nav class="pagination" role="navigation">
  <a href="{{@blog.url}}"><img src="/assets/images/ghost.png" alt="Ghost Theme"></a>
  {{#if prev}}
    <a class="nav prev" href="{{page_url prev}}"><i class="icon-left-open"></i></a>
  {{/if}}
  {{#if next}}
    <a class="nav next" href="{{page_url next}}"><i class="icon-right-open"></i></a>
  {{/if}}
</nav>
